@charset "UTF-8";
/* Variables */
/* A compiler avec couleur tertiaire */
/* Fonctions */
/* Mixins */
/* Placeholders */
.fonctionnement__cartes, .nav__bloc-titre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants__cartes__carte, .fonctionnement__cartes__lien, .nav__bloc-titre button, .restaurant__card__menu__complete__list__block {
  box-shadow: 0 5px 5px gray;
}

.nav__bloc-titre button, .nav__bloc-titre p, .nav__bloc-titre h1, .header__logo {
  margin: 20px auto;
}

/* Base - exemple : police de caractères, normes pour tout le site (box-sizing etc...)*/
/* Déclaration des polices */
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  box-sizing: border-box;
}

.titre-logo, h1 {
  font-family: "Shrikhand", sans-serif;
}

h1, h2, h3, h4 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h4 {
  text-transform: uppercase;
}

p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.price {
  font-weight: bold;
}

/* Composants : blocs BEM indépendants ex: boutons */
/* Layout : blocs réutilisables exemple : footer */
.header__logo {
  text-align: center;
  width: 100%;
  position: relative;
}
.header__logo img {
  width: 180px;
}
.header__back-arrow {
  font-size: 1.5em;
  position: absolute;
  top: 25px;
  left: 20px;
}

.footer {
  background-color: #343434;
  color: white;
}
.footer__contenu {
  padding: 30px;
}
.footer__contenu__logo {
  font-family: Shrikhand;
  font-size: 1.3em;
}
.footer__contenu__logo__liens {
  color: white;
}
.footer__contenu__logo__liens__liste {
  padding: 5px 0; /*Aucun effet*/
}

.footer li {
  padding: 5px 0;
}

/* Pages Menus */
.restaurant__img img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__card {
  background-color: #F6F6F6;
  border-radius: 50px;
  position: relative;
  margin-top: -60px;
}
.restaurant__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 20px 20px;
}
.restaurant__card__header .fa-regular {
  font-size: 1.6em;
}
.restaurant__card__menu {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.restaurant__card__menu__complete {
  padding: 15px 3% 30px 3%;
}
.restaurant__card__menu__complete__title__soulign {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 5px 0;
}
.restaurant__card__menu__complete__list__block {
  height: 80px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin-top: 15px;
  -webkit-animation: slide 1s forwards;
          animation: slide 1s forwards;
  opacity: 0;
  /* a simplifier pour éviter la répétition */
}
.restaurant__card__menu__complete__list__block:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.restaurant__card__menu__complete__list__block:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.restaurant__card__menu__complete__list__block:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.restaurant__card__menu__complete__list__block__info {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  flex: 1;
  max-width: 100%;
  padding: 15px;
}
.restaurant__card__menu__complete__list__block__info__text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant__card__menu__complete__list__block__info__text h3 {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__card__menu__complete__list__block__info__text p {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__card__menu__complete__list__block__info__price {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.restaurant__card__menu__complete__list__block__check {
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  height: 100%;
  width: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.restaurant__card__menu__complete__list__block__check__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100%;
  background-color: white;
}
.restaurant__card__menu__complete__list__block__check__background i {
  font-size: 1.7em;
  color: #99E2D0;
  transform: rotate(-360deg);
  transition: 0.5s ease-in-out;
}
.restaurant__card__menu__complete__list__block:hover .check {
  opacity: 100%;
  width: 90px;
}
.restaurant__card__menu__complete__list__block:hover .fa-circle-check {
  transform: rotate(0deg);
}

@-webkit-keyframes slide {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
/* Pages : blocs qui ne s'appliquent qu'a une seule page */
/* Page Index */
.nav__bloc-recherche-ville {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #EAEBEB;
  padding: 15px 0;
}
.nav__bloc-recherche-ville i {
  margin: auto 10px auto 10px;
}
.nav__bloc-recherche-ville input {
  border: 0;
  background-color: #EAEBEB;
  width: 150px;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
}
.nav__bloc-titre {
  background-color: #F6F6F6;
  padding: 50px 0;
}
.nav__bloc-titre h1 {
  max-width: 70%;
  text-align: center;
}
.nav__bloc-titre p {
  max-width: 90%;
  text-align: center;
  margin-bottom: 25px;
}
.nav__bloc-titre button {
  color: white;
  font-size: 1em;
  padding: 15px 20px;
  border: #FF79DA solid 1px;
  border-radius: 25px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}

.fonctionnement {
  padding: 20px;
}
.fonctionnement h2 {
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__cartes {
    flex-direction: row;
    justify-content: center;
  }
}
.fonctionnement__cartes div {
  margin: 0 10px;
}
.fonctionnement__cartes__lien {
  display: flex;
  width: 275px;
  height: 70px;
  padding: 0 20px;
  margin: 10px auto;
  border-radius: 25px;
  background-color: #F6F6F6;
  align-items: center;
  position: relative;
}
.fonctionnement__cartes__lien:hover {
  background-color: #F5EDFF;
}
.fonctionnement__cartes__lien:hover i {
  color: #9356DC;
}
.fonctionnement__cartes__lien__numero {
  color: white;
  background-color: #9356DC;
  font-size: 0.7em;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: -10px;
}
.fonctionnement__cartes__lien i {
  color: #7F7F7E;
  font-size: 1.25em;
  margin: 0 20px;
}
.fonctionnement__cartes__lien p {
  font-weight: 700;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 20px;
}
.restaurants h2 {
  margin: 20px 0;
}
.restaurants__cartes {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants__cartes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants__cartes__carte {
  background-color: white;
  border-radius: 15px;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .restaurants__cartes__carte {
    width: 49%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__cartes__carte {
    width: 24%;
  }
}
.restaurants__cartes__carte img {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__cartes__carte__nouveau {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #018666;
  background-color: #99E3D1;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 3px;
}
.restaurants__cartes__carte__description {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.restaurants__cartes__carte__description__nom-lieu h3 {
  margin-bottom: 10px;
}
.restaurants__cartes__carte__description .fa-regular {
  font-size: 1.5em;
  margin-top: 10px;
  transition: color 0.25s ease-in;
}
.restaurants__cartes__carte__description .fa-regular:hover {
  font-weight: bold;
  color: #9356DC;
  transition: color 1s;
}/*# sourceMappingURL=styles.css.map */