/* Variables */
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$couleur-recherche:#EAEBEB;
$couleur-icone:#7F7F7E;
$couleur-background-bouton:#F5EDFF;
$couleur-fond: #F6F6F6;
$couleur-footer: #343434;
$couleur-texte-affiche-nouveau: #018666;
$couleur-background-affiche-nouveau :#99E3D1; /* A compiler avec couleur tertiaire */

$breakpoint: (
    tablette: 768px,
    desktop: 992px
);

/* Fonctions */



/* Mixins */
@mixin tablette {
    @media screen and (min-width: map-get($breakpoint, tablette)) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoint, desktop)) {
        @content;
    }
}


/* Placeholders */
%centrer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
%ombre-box {
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 50px;
}
%ombre-box-hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 50px;
}

%marge-standard {
    margin: 20px auto;
}


/* Base - exemple : police de caractères, normes pour tout le site (box-sizing etc...)*/

    /* Déclaration des polices */
@font-face {
    font-family: 'Shrikhand';
    src: url('../polices/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../polices/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../polices/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
    box-sizing: border-box;
}

.titre-logo, h1 {
    font-family: "Shrikhand", sans-serif;
}

h1, h2, h3, h4{
    margin-block-start: 0;
    margin-block-end: 0;
}
h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h4 {
    text-transform: uppercase;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}
.price {
    font-weight: bold;
}
/* Composants : blocs BEM indépendants ex: boutons */
    /* Bouton */
button {
    color: white;
    font-size: 1em;
    padding: 15px 30px;
    @extend %marge-standard;
    border:0;
    border-radius: 25px;
    background:linear-gradient(175deg, $couleur-secondaire, $couleur-primaire);
    @extend %ombre-box;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover {
        @extend %ombre-box-hover;
        &::after{
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 25px;
        background:linear-gradient(175deg, lighten($couleur-secondaire, 10), lighten($couleur-primaire, 5));
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        z-index : -1;
    }
}
    /* Coeur */
.coeur {
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-heart {
        font-size: 1.5em ;
        transition: opacity 0.5s ease-in-out;
    }
    &--vide {
        position: absolute;
    }
    &--plein {
        background: linear-gradient(175deg, $couleur-secondaire, $couleur-primaire);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
    }
    &:hover {
        .coeur--plein {
            opacity: 1;
        }
        .coeur--vide {
            opacity: 0;
        }
    }
}


/* Layout : blocs réutilisables exemple : footer */
.header {
    &__logo {
        @extend %marge-standard;
        text-align: center;
        width: 100%;
        position: relative;
        img {
            width: 180px;
        }
    }
    &__back-arrow {
        font-size: 1.5em;
        position: absolute;
        top: 25px;
        left: 20px;
    }
}

.footer {
    background-color: $couleur-footer;
    color: white;
    &__contenu {
        padding: 20px 30px 40px 30px;
        @include tablette {
            text-align: center;
        }
        &__logo {
            font-family: Shrikhand;
            font-size: 1.3em;
            padding-left: 15px;
        }    
        &__liens {
            margin-top: 15px ;
            @include tablette {
                display: flex;
                justify-content: center;
            }
            &__liste {
                padding: 5px 15px;
            }
        }
    }
}


.order-button {
    text-align: center;
    padding-bottom: 20px;
}
    /* Pages Menus */
.restaurant {
    &__img {
        img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    }
    &__card {
        background-color: $couleur-fond;
        border-radius: 50px 50px 0 0;
        position: relative;
        margin-top: -60px;
        &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px 20px 20px;
        @include tablette {
            justify-content:space-evenly;                       
        }
        .fa-regular {
            font-size: 1.6em;
            }
        }
        &__menu {
            display: flex;
            flex-direction: column;
            @include tablette {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
                grid-auto-rows: minmax(100px, auto);  
                padding: 0 40px;
            }
            @include desktop {
                display: flex;
                flex-direction: row;
            }              
            &__complete {
                padding: 15px 15px 30px 15px;
                @include tablette {
                    /* A simplifier pour éviter la répétition */
                    &:nth-child(1) {
                        grid-column: 1/3;
                        grid-row: 1;
                    }
                    &:nth-child(2) {
                        grid-column: 3/5;
                        grid-row: 1;
                    }
                    &:nth-child(3) {
                        grid-column: 2/4;
                        grid-row: 2;
                    }
                }
                @include desktop {
                    width: 30%;
                }

                &__title {
                    &::after{
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 3px;
                        background-color: $couleur-primaire;
                        margin: 5px 0;
                    }
                }
                &__list {
                    padding-top: 10px;
                    &__block {
                        height: 80px;
                        display: flex;
                        background-color: white;
                        border-radius: 20px;
                        @extend %ombre-box;
                        margin-top: 15px;
                        animation: slide 1s forwards;
                        opacity: 0;
                        /* a simplifier pour éviter la répétition */
                        &:nth-child(1) {
                            animation-delay: 0.4s;
                        }
                        &:nth-child(2) {
                            animation-delay: 0.6s;
                        }
                        &:nth-child(3) {
                            animation-delay: 0.8s;
                        }
                        &__info {
                            display: flex;                      
                            overflow: hidden;
                            justify-content: space-between;
                            flex: 1;
                            max-width: 100%;
                            padding: 15px;
                            &__text {
                                display: flex;
                                flex-direction: column;
                                overflow: hidden;
                                white-space: nowrap;
                                h3 {
                                    margin-bottom: 5px ;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                p{
                                    margin-bottom: 5px ;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                            &__price {
                                display: flex;
                                align-items: flex-end;
                                margin-left: 10px;
                            }
                        }          
                        &__check {
                            cursor: pointer;
                            border-radius: 0 20px 20px 0;
                            background-color: $couleur-tertiaire;
                            height: 100%;
                            width: 0;
                            opacity: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
                            &__background {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 1.6em;
                                height: 1.6em;
                                border-radius: 100%;
                                background-color: white;
                                i {
                                    font-size: 1.7em;
                                    color: $couleur-tertiaire;
                                    transform: rotate(-360deg);
                                    transition: 0.5s ease-in-out;
                                }
                            } 
                        }
                        &:hover .check {
                            opacity: 100%;
                            width: 90px;
                        }
                        &:hover .fa-circle-check {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
        }
    }
}
@keyframes slide {
    0%{
        transform: translatey(20px);
        opacity: 0;
    }
    100%{
        transform: translatey(0);
        opacity: 1;
    }
}


/* Pages : blocs qui ne s'appliquent qu'a une seule page */
    /* Page Index */

        /* Loading Spinner */

@keyframes loadingscreen {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        visibility: hidden;
    }
}
@keyframes eclipse {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
/*.loading-spinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    position:fixed;
    top: 0;
    z-index: 100;
    animation: loadingscreen 0.2s 3s forwards;
    &__eclipse{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        div {
            animation: eclipse 1s linear infinite;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            box-shadow: 0 12px 0 0 $couleur-primaire ;
        }
    }
}*/
        /* Navigation */
.nav {
    &__bloc-recherche-ville {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $couleur-recherche;
        padding: 15px 0;
        i {
            margin: auto 10px auto 10px;          
        }
        input {
            border: 0;
            background-color: $couleur-recherche;
            width: 150px;
            text-align: center;
            font-size: 1em;
            font-weight: 700;
        }
    }
    &__bloc-titre {
        @extend %centrer;
        background-color:$couleur-fond ;
        padding: 50px 0;
        h2 {
            max-width: 70%;
            text-align: center;
            font-weight: 700;
            @extend %marge-standard;
        }
        p {
            max-width: 90%;
            text-align: center;
            margin-bottom: 25px;
            @extend %marge-standard;
        }
    }
}
        /* Fonctionnement */
.fonctionnement{
    padding: 20px;
    h2 {
        margin: 20px 0;
    }
    &__cartes {
        @extend %centrer;
        @include desktop {
            flex-direction: row;
            justify-content: center;
        }
        div {
            margin: 0 10px;
        }
        &__lien {
            display: flex;
            width: 275px ;
            height: 70px;
            padding: 0 20px;
            margin: 10px auto;
            border-radius: 25px;
            background-color: $couleur-fond;
            align-items: center;
            position: relative;
            @extend %ombre-box;
            &:hover {
                background-color: $couleur-background-bouton;
                @extend %ombre-box-hover;                
                i {
                    color: $couleur-primaire;
                }
            }
            &__numero {
                color: white;
                background-color: $couleur-primaire;
                font-size: 0.7em;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                text-align: center;
                line-height: 25px;
                position:absolute;
                left: -10px;
            }
            i {
                color: $couleur-icone;
                font-size: 1.25em;
                margin: 0 20px;
            }
            p {
                font-weight: 700;
            }
        }    
    }    
}
        /* Restaurants */
.restaurants {
    background-color: $couleur-fond;
    padding: 20px;
    h2 {
        margin: 20px 0;
    }
    &__cartes {
        display: flex;
        flex-direction: column;
        @include tablette {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__carte {
            background-color: white;
            border-radius: 15px;
            @extend %ombre-box;
            position: relative;
            margin-bottom: 20px;
            @include tablette {
                width: 49%;
            }
            @include desktop {
                width: 24%;
            }
            img {
                height: 180px;
                object-fit: cover;
                width: 100%;
                border-radius: 15px 15px 0 0;
            }        
            &__nouveau {
                position: absolute;
                right: 15px;
                top: 15px;
                color: $couleur-texte-affiche-nouveau;
                background-color: $couleur-background-affiche-nouveau;
                font-size: 0.9em;
                padding: 5px 10px;
                border-radius: 3px;
            }
            &__description {
                display: flex;
                justify-content: space-between;
                margin: 10px 20px;
                &__nom-lieu {
                    h3 {
                        margin-bottom: 10px;
                    }
                }            
            }       
        }    
    }
}    

