@charset "UTF-8";
/* Utils */ /* Variables */
/* Couleurs imposées par le cahier des charges */
/* Couleurs maquettes */
/* A modifier en fonction du nombre de plat maximum dans les menus */
/* Maps */
/* Mixins */ /* Placeholders */
.fonctionnement__cartes, .nav__bloc-titre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants__cartes__carte, .fonctionnement__cartes__lien, .restaurant__card__menu__complete__list__block, button {
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 50px;
}

.fonctionnement__cartes__lien:hover, button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 50px;
}

.nav__bloc-titre p, .nav__bloc-titre h2, .header__logo, button {
  margin: 20px auto;
}

/* Base */
/* Déclaration des polices */
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  box-sizing: border-box;
}

.titre-logo, h1 {
  font-family: "Shrikhand", sans-serif;
}

h1, h2, h3, h4 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h4 {
  text-transform: uppercase;
}

p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.price {
  font-weight: bold;
}

/* Components */
/* Bouton */
button {
  color: white;
  font-size: 1em;
  padding: 15px 30px;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  cursor: pointer;
  position: relative;
  z-index: 1;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background: linear-gradient(175deg, #fface8, #a16be0);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  z-index: -1;
}

/* Coeur */
.coeur {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coeur .fa-heart {
  font-size: 1.5em;
  transition: opacity 0.5s ease-in-out;
}
.coeur--vide {
  position: absolute;
}
.coeur--plein {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.coeur:hover .coeur--plein {
  opacity: 1;
}
.coeur:hover .coeur--vide {
  opacity: 0;
}

/* Layouts */
.header__logo {
  text-align: center;
  width: 100%;
  position: relative;
}
.header__logo img {
  width: 180px;
}
.header__back-arrow {
  font-size: 1.5em;
  position: absolute;
  top: 25px;
  left: 20px;
}

.footer {
  background-color: #343434;
  color: white;
}
.footer__contenu {
  padding: 20px 30px 40px 30px;
}
@media screen and (min-width: 768px) {
  .footer__contenu {
    text-align: center;
  }
}
.footer__contenu__logo {
  font-family: Shrikhand;
  font-size: 1.3em;
  padding-left: 15px;
}
.footer__contenu__liens {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .footer__contenu__liens {
    display: flex;
    justify-content: center;
  }
}
.footer__contenu__liens__liste {
  padding: 5px 15px;
}

/* Loading Spinner */
@-webkit-keyframes loadingscreen {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes loadingscreen {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
@-webkit-keyframes eclipse {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes eclipse {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-animation: loadingscreen 0.2s 3s forwards;
          animation: loadingscreen 0.2s 3s forwards;
}
.loading-spinner__eclipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loading-spinner__eclipse div {
  -webkit-animation: eclipse 1s linear infinite;
          animation: eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 12px 0 0 #9356DC;
}

/* Pages Menus */
.restaurant__img img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__card {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  position: relative;
  margin-top: -60px;
}
.restaurant__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}
@media screen and (min-width: 768px) {
  .restaurant__card__header {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .restaurant__card__header .fa-heart {
    position: absolute;
    right: 100px;
  }
}
.restaurant__card__menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurant__card__menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 0 40px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__card__menu {
    display: flex;
    flex-direction: row;
  }
}
.restaurant__card__menu__complete {
  padding: 15px 15px 30px 15px;
}
@media screen and (min-width: 768px) {
  .restaurant__card__menu__complete:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }
  .restaurant__card__menu__complete:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1;
  }
  .restaurant__card__menu__complete:nth-child(3) {
    grid-column: 2/4;
    grid-row: 2;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__card__menu__complete {
    width: 30%;
  }
}
.restaurant__card__menu__complete__title::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 5px 0;
}
.restaurant__card__menu__complete__list {
  padding-top: 10px;
}
.restaurant__card__menu__complete__list__block {
  height: 80px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin-top: 15px;
  -webkit-animation: slide 1s forwards;
          animation: slide 1s forwards;
  opacity: 0;
}
.restaurant__card__menu__complete__list__block:nth-child(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.restaurant__card__menu__complete__list__block:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.restaurant__card__menu__complete__list__block:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.restaurant__card__menu__complete__list__block:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.restaurant__card__menu__complete__list__block__info {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  flex: 1;
  max-width: 100%;
  padding: 15px;
}
.restaurant__card__menu__complete__list__block__info__text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant__card__menu__complete__list__block__info__text h3 {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__card__menu__complete__list__block__info__text p {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__card__menu__complete__list__block__info__price {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.restaurant__card__menu__complete__list__block__check {
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  height: 100%;
  width: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.restaurant__card__menu__complete__list__block__check__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100%;
  background-color: white;
}
.restaurant__card__menu__complete__list__block__check__background i {
  font-size: 1.7em;
  color: #99E2D0;
  transform: rotate(-360deg);
  transition: 0.5s ease-in-out;
}
.restaurant__card__menu__complete__list__block:hover .check {
  opacity: 100%;
  width: 90px;
}
.restaurant__card__menu__complete__list__block:hover .fa-circle-check {
  transform: rotate(0deg);
}

.order-button {
  text-align: center;
  padding-bottom: 20px;
}

@-webkit-keyframes slide {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
/* Pages */
/* Navigation */
.nav__bloc-recherche-ville {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #EAEBEB;
  padding: 15px 0;
}
.nav__bloc-recherche-ville i {
  margin: auto 10px auto 10px;
}
.nav__bloc-recherche-ville input {
  border: 0;
  background-color: #EAEBEB;
  width: 150px;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
}
.nav__bloc-titre {
  background-color: #F6F6F6;
  padding: 50px 0;
}
.nav__bloc-titre h2 {
  max-width: 70%;
  text-align: center;
  font-weight: 700;
}
.nav__bloc-titre p {
  max-width: 90%;
  text-align: center;
  margin-bottom: 25px;
}

/* Fonctionnement */
.fonctionnement {
  padding: 20px;
}
.fonctionnement h2 {
  margin: 20px 0;
}
@media screen and (min-width: 992px) {
  .fonctionnement__cartes {
    flex-direction: row;
    justify-content: center;
  }
}
.fonctionnement__cartes div {
  margin: 0 10px;
}
.fonctionnement__cartes__lien {
  display: flex;
  width: 275px;
  height: 70px;
  padding: 0 20px;
  margin: 10px auto;
  border-radius: 25px;
  background-color: #F6F6F6;
  align-items: center;
  position: relative;
}
.fonctionnement__cartes__lien:hover {
  background-color: #f2eafb;
}
.fonctionnement__cartes__lien:hover i {
  color: #9356DC;
}
.fonctionnement__cartes__lien__numero {
  color: white;
  background-color: #9356DC;
  font-size: 0.7em;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: -10px;
}
.fonctionnement__cartes__lien i {
  color: #7F7F7E;
  font-size: 1.25em;
  margin: 0 20px;
}
.fonctionnement__cartes__lien p {
  font-weight: 700;
}

/* Restaurants */
.restaurants {
  background-color: #F6F6F6;
  padding: 20px;
}
.restaurants h2 {
  margin: 20px 0;
}
.restaurants__cartes {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants__cartes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants__cartes__carte {
  background-color: white;
  border-radius: 15px;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .restaurants__cartes__carte {
    width: 49%;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__cartes__carte {
    width: 24%;
  }
}
.restaurants__cartes__carte img {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__cartes__carte__nouveau {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #278870;
  background-color: #99E2D0;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 3px;
}
.restaurants__cartes__carte__description {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.restaurants__cartes__carte__description__nom-lieu h3 {
  margin-bottom: 10px;
}/*# sourceMappingURL=styles.css.map */