body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
    box-sizing: border-box;
}

.titre-logo, h1 {
    font-family: "Shrikhand", sans-serif;
}

h1, h2, h3, h4{
    margin-block-start: 0;
    margin-block-end: 0;
}
h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h4 {
    text-transform: uppercase;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}
.price {
    font-weight: bold;
}